html {}

body {
  margin: 0;
  font-family: 'Nanum Gothic', sans-serif;
}

/* and as it is such, so also as such is it unto you */

.landing {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  font-family: monospace;
  padding-left: 20px;
  /* margin-bottom: -50px; */
}

.landing::before {
  content: "";
  position: absolute;
  top: 30;
  left: 0;
  width: 100%;
  background: url('./img/saturn.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  /* margin-bottom: -50px; */
  opacity: .6;
  /* margin-top: -24px; */
  z-index: -1;
  /* display: flex; */
  /* flex-direction: column; */
}

.landing-text {
  color: white;
}

.landing-photo {
  width: 125px;
  margin: 50px 0 20px;
}

.skills-header {
  margin-top: 10px;
}

.skills {
  margin-left: 21px;
  max-width: 350px;
}

.icon {
  height: 20px;
  width: 20px;
  margin: 5px 10px;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* flex-wrap: nowrap; */
  /* background-color: #F0F0F0; */
}

.create-new-alert-button-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  background-color: #F0F0F0;
  padding-bottom: 5px;
  /* margin: 5px; */
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* flex-wrap: nowrap; */
  /* margin: 5px 0 0; */
  background-color: #F0F0F0;
  padding: 10px 0;
}

.filter {
  /* height: 55px; */
  /* line-height: 55px; */
  /* color: red; */
  /* border: none; */
}

.get-all-alerts-button-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* flex-wrap: nowrap; */
  background-color: #F0F0F0;
}

.search {
  background-image: url('./img/search-icon.png');
  background-repeat: no-repeat;
  height: 25px;
  padding-left: 25px;
  /* line-height: 20px;
  vertical-align: middle; */
  background-size: 20px 20px;
  border-radius: 5px;
}

.alert-list {
  background-color: #F0F0F0;
  /* width: 320px; */
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  align-items: center;
  /* padding: 0 0 20px; */
  justify-content: center;
  padding-bottom: 10px;
}

.alert-detail {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  /* margin: 20px; */
  /* border-radius: 20px; */
}

.alert-detail-button {
  margin-bottom: 5px;
  margin-left: 5px;
  border: none;
  background-color: #bada55;
  border-radius: 20px;
}

.alert-div {
  background-color: white;
  width: 200px;
  border: none;
  border-radius: 10px;
  margin: 10px 20px 0;
}

.smush-left {
  margin-left: auto;
}

.alert-title {
  /* margin: 10px; */
}

.alert-thumb {
  width: 200px;
  height: 200px;
  border-radius: 10px 10px 0 0;
}

.alert-detail-thumb {
  max-width: 450px;
  max-height: 500px;
  border-radius: 10px 10px 0 0;
}

.alert-type {
  background-color: #bada55;
  /* margin: -5px 0; */
  /* padding: 5px; */
  display: flex;
  justify-content: center;
}

.alert-new-button {
  /* margin: 15px; */
  display: flex;
  border: none;
  border-radius: 5px;
  background-color: #bada55;
  min-width: 200px;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  /* margin: 5px 0 0; */
  /* flex-wrap: nowrap; */
  justify-content: center;
  font-size: .6em;
  font-weight: bold;
  vertical-align: top;
  /* background-image: url("add.png"); */
}

.width-100-percent {
  width: 100%;
  align-self: center;
  margin-bottom: 5px;
}

.error {
  color: red;
  border-color: red;
}

.nav {
  /* margin: 15px; */
  display: flex;
  /* justify-content: space-around; */
  /* background-color: #bada55; */
  /* padding: 5px; */
  /* font-size: .8em; */
}

.nav a {
  text-decoration: none;
  padding: 5px;
}

.nav a:hover,
.nav .active {
  /* color: #fff; */
  background: #b9f475;
  /* height: 100%; */
  padding: 5px;
  width: auto;
}

.menu {
  /* display: ; */
  display: flex;
  justify-content: space-between;
}

img {
  width: 100%;
}

.alert-container {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.alert-container-inner {
  padding-top: 80px;
}

.most-relevant {
  display: flex;
  justify-content: center;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding: 3px 0;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.tomato {
  background-color: tomato;
}

.cadetblue {
  background-color: rgb(214, 247, 236);
}

.khaki {
  /* background-color: rgb(248, 244, 210) */
}

.alert-footer {
  display: flex;
  justify-content: space-between;
  margin: 0 10px 0 0;
}

.city {
  font-size: .7em;
  line-height: 2em;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.name {
  margin-left: 3px;
}

.navbar {
  /* max-height: 30px !important; */
  /* padding-bottom: 0 !important; */
  margin-bottom: 0 !important;
  display: block;
}

/* .navbar-nav>li>a,
.navbar-brand {
  padding-top: 10px !important;
  padding-bottom: 0 !important;
  height: 30px;
} */

.iframe {
  min-height: 500px;
}

.fluidMedia {
  position: relative;
  padding-bottom: 75%;
  /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.fluidMedia iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer {
  font-size: .6em;
}

.navlink {
  text-decoration: none;
  font-size: .7em;
  margin-right: 5px;
  color: darkgray;
}

.portrait {
  width: 100%;
  height: auto;
  max-width: 400px;
  margin: 0 20px 15px 0;
  box-shadow: 10px 5px 5px #bbb;
}

.about-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-text {
  max-width: 450px;
}

.socials {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}